<h1>New Task</h1>

<%= form_for(@task) do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <br>
  <%= t.label :details %>
  <%= t.text_field :details %>
  <br>
  <%= t.submit %>
<% end %>
<br>
<%= link_to "Back to all tasks", tasks_path %>


